<div {{> @root.footerTextStyle}}>
    <p style="margin: 5px 0;">Need help? Contact us at <a href="mailto:support@aimingle.in"
            style="color: #007bff; text-decoration: none;">support@aimingle.in</a></p>
    <p style="margin: 5px 0;">Aimingle, Inc. | 123 Connect Ave, Innovate City, Country</p>
</div>