node_modules
npm-debug.log
yarn-error.log
dist
.DS_Store
.env
coverage
*.tsbuildinfo
.idea/
.vscode/
*.swp
logs
*.log
temp/
*.tmp
docker-compose.override.yml
Dockerfile.dev
.cache
build
__tests__
.nyc_output
.eslintcache
.next
.vercel
out
