{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "^next", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
